.home {
    background-color: colors($colors,primary);
    
    scroll-content {
        overflow-y: hidden !important;
    }

    .cover-image {
        background: url("../../assets/background.png") no-repeat 35% 10%;
        background-size: cover;
        height: 100%;
        background-position: 50% 40%;
    }

    .cover-image2 {
        background: url("../../assets/banner.png") no-repeat;
        background-position: center top;
        background-size: 100% 200px;
        height: 100%;
    }
    
    .description {
        z-index:2;
        color:white;
        background-color: #f38130;
        padding: 10px;
        font-size:12px;
        margin-bottom: 8px;
        text-align: center;
        width: 100%;
    }

    .descHolder {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .description3 {
        font-size: 22px;
        margin-bottom:5px;
    }

     .cover-card {
        background: url("../../assets/card.png") no-repeat 35% 10%;
        background-position: 50% 40%;
    }

    .menu {
        position:absolute;
        color:white;
        top: 13px;
        right: 17px;
        font-size: 24px;
    }
}

 .map {
        height:56px;
        width: 100%;
        background: url("../../assets/mapa.jpg") no-repeat;
        background-size: cover;
        background-position: 47% 48%;
}

.align-right {
  text-align: right;
}

.footer {
    background-color: colors($colors,primary);
    color: colors($colors,dark);
}